@import "bootstrap";

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

.navbar, .home-header {


  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F, #F09819); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F, #F09819 );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-header{
  color: white;
  padding-top: 150px;
  padding-bottom: 100px;
}
