@import "bootstrap";

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

body, .navbar {

  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#content{
  margin-top: 100px;
}
