@import "bootstrap";
@import "font-awesome";

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

.home-header {
  padding-top: 150px;
}

.content{
  margin-top: 100px;
}

.error-msg{
  margin-top:100px;
}

.home-header,
.navbar {
  background: #FF512F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F, #F09819);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F, #F09819 );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-light .navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;

  &:hover {
    color: white;
  }

  &:focus{
    color: white;
  }
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  &:hover {
    color: white;
  }

  &:focus{
    color: white;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.home-header {
  color: white;
  margin-top: -50px;
  padding-bottom: 100px;
}

.btn-primary{
  background-color: #F09819;
  border-color: #F09819;
  &:hover{
    background-color: #FF512F;
    border-color: #FF512F;
  }
  &:active{
    border-color: #FF512F;
    background-color: #FF512F;
  }
  &:focus{
    border-color: #FF512F;
    background-color: #FF512F;
    -webkit-box-shadow: #FF512F;
    box-shadow:#FF512F;
    color: white;
  }
}
